*{
    margin: 0px;
    padding: 0px;
    width: 100vw;
}
/* body */
body{
    overflow-x: hidden;
}
/* navBar */
.nav{
    height: 70px;
    background-color: black;
}
.logo img{
    position: relative;top: -65px;
    height: 200px;
    width: 200px;
}
/* section1 */
.sec1{
    background-color: #191414;
    height: 250px;
    color: white;
    text-align: center;
}
.sec1 .welcome{
    font-size: 3.5rem;
    color: white;
    font-weight:bolder;
    position: relative;top: 45px;
    -webkit-text-stroke: 1px #A67C3F;
}
.sec1 .heading{
    -webkit-text-stroke: 1px rgb(166, 124, 63);
    font-size: 2.3rem;
    color: white;
    font-weight: bolder;
    position: relative;top: 45px;
    margin: 0px 10px 0px 0px;
}
/* section2 */
.sec2{
    width: 100vw;
    background-color: black;
    color: white;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sec2 #ftDishImage{
    border: 3px solid #c0852d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 200px;
}
.sec2 #ftDishName{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 30px;
}
#ingredientsDiv{
    display: flex;
    justify-content: center;
    text-align: left;
}
.ftbuttons{
    display: flex;
    justify-content: center;
}
.ftbuttons .btn{
    background-color: rgb(166, 124, 63);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid white;
}
#ftDishIngredients{
    margin-right: 10px;
}
#ftDishInstructions{
    margin-left: 10px;
}
/* section3 */
.sec3{
    height: 300px;
}
.sec3 .searchBar{
    background-color: #191414;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3 .searchBar #search{
    margin-left: 10px;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    background-color: #e8be80;
    border: 2px solid white;
    text-align: center;
}
.sec3 .searchBar #searchBtn{
    border-radius: 10px;
    background-color: #e8be80;
    border: 2px solid white;
    margin-left: 15px;
    height: 40px;
    width: 70px;
}
/* Instructions Modal */
#instructions{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow:scroll;
    color: white;
    background-color: #000;
    background-color: rgb(0,0,0,0.6)
}
.instructionsModal{
    background-color: rgb(0,0,0,0.6);
    border: 1px solid white;
    width: 100%;
    margin: 50px;
}
.ingredientsModal::-webkit-scrollbar{
    display: none;
}
#allInstructions{
    font-size: 18px;
    padding: 10px;
}
.close{
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* Ingredients Modal */
#ingredients{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow: auto;
    color: white;
    background-color: #000;
    background-color: rgb(0,0,0,0.6)
}
.ingredientsModal{
    background-color: rgb(0,0,0,0.6);
    border: 1px solid white;
    width: 100%;
    margin: 50px;
}
.instructionsModal::-webkit-scrollbar{
    display: none;
}
#allIngredients{
    font-size: 20px;
}
.back{
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.back:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

